div.MenuLevel1 { 
    width: 165px;
    display: inline-flex;
}
div.MenuLevel1 > div { 
    background-color: lightgray; 
    border: solid black 1px; 
    position: relative; 
    cursor: pointer;
    border-radius: 2px;
    color: gray;
}
div.MenuLevel2 { 
    width: 165px; 
    /*display: none;*/
    opacity: 0; /* По умолчанию скрываем подменю */
    visibility: hidden;
    transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
    transition-duration: 1.5s; /* Добавляем анимацию 1.5 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
}
div.MenuLevel2 > div { 
    background-color: lightgray; 
    border: solid black 1px; 
    cursor: pointer;
    border-radius: 2px;
    color: gray;    
}
div.MenuLevel1 > div:hover div.MenuLevel2 { 
    /*display: block;*/ 
    position: absolute; 
    left: 0%; 
    top: 100%; 
    z-index: 1;  
    opacity: 1; /* Показываем подменю при ховере */
    visibility: visible;
}
div.MenuLevel1 > div:hover {
    background-color: gray; 
    border: solid black 1px; 
    cursor: pointer;
    border-radius: 2px;
    color: whitesmoke;   
}
@media all and (max-width: 540px) {
    div.MenuLevel1 { 
        width: 165px;
        display: block;
    }
    div.MenuLevel1 > div { 
        background-color: lightgray; 
        border: solid black 1px; 
        position: relative; 
        cursor: pointer;
        border-radius: 2px;
        color: gray;
    }
    div.MenuLevel2 { 
        width: 165px; 
        display: none;
    }
    div.MenuLevel2 > div { 
        background-color: lightgray; 
        border: solid black 1px; 
        cursor: pointer;
        border-radius: 2px;
        color: gray;    
    }
    div.MenuLevel1 > div:hover div.MenuLevel2 { 
        display: block; 
        position: absolute; 
        left: 80%; 
        top: 90%; 
        z-index: 1;
    }
}